* {
    background-color: #419419;
}

/* header style*/
.header {
    display: flex;
    background-color: #023020;
    color: white;
    margin: 0px;
    font-size: 28px;
    justify-content: space-between;
    
}
.name {
    font-size: 45px;
    background-color: #023020;
}

.nav ul li{
    background-color: #023020;
}
.nav-bar, ul, a{
    display: inline-flex;
    background-color: #023020;
    list-style: none;
    color: white;
    text-decoration: none;
}

.header li {
    padding: 20px;
}
 /* Hero style */
 .hero img {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
/*About Me style*/
.about {
    display: flex;
    justify-content: space-between;
}

.about-me {
    padding: 0px 100px;
    font-size: 25px;
}

.body-box, p{
    padding: 0px 100px;
    display: inline-block;
    height: 150px;
    width: 80%;
    font-size: 20px;
}
.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    

}
.suki img, .hike img, .full img{
    height: 600px;
    width: 100%;
    
}
    
    
