/* header style*/
.header {
    display: flex;
    background-color: darkgreen;
    color: white;
    margin: 0px;
    font-size: 28px;
    justify-content: space-between;
    
}
.name {
    font-size: 45px;
}

.nav-bar, a{
    display: inline-flex;
    list-style: none;
    color: white;
    text-decoration: none;
}

.header li {
    padding: 20px;
}
 /* Hero style */
 .hero img {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    
 }
    
